<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<div class="container-fluid">
    <div class="row navbar_allign">
        <div class="col-6 col-sm-6">
            <div style="height: 90%;"></div>
            <nav class="navbar navbar-expand-xl bg-body-tertiary" style="float:left; margin-left: 10%;">
                <div class="container-fluid">
                  <a class="navbar-brand navbar_font" href="/sorok">Sörök</a> <!--<%= typeof title === 'sorok' ? '/sorgyarak' : '/sorok' %> <%= typeof title === 'sorok' ? 'Gyárak' : 'Sörök' %>-->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active align-middle" aria-current="page" href="/sorgyarak"> <!--<% typeof title === 'sorok' ? '/sorgyarak' : '/sorok' %>-->
                          Gyárak</a>                                                               <!--<%= typeof title === 'sorok' ? 'Sörök' : 'Gyárak' %>-->
                      </li>
                    </ul>
                </div>
              </nav>
        </div>
        <div class="col-6 col-sm-6">
          <div style="height: 90%;"></div>
          <h1 style="float: right; margin-right: 10%;" class="ssgy">SSGY</h1>
        </div>
  </div>
</div>